/* -------------- FONTS --------------  */

@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/chronicle-display/ChronicleDisplayBlack.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/chronicle-display/ChronicleDisplaySemibold.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/chronicle-display/ChronicleDisplayRoman.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/chronicle-display/ChronicleDisplayLightItalic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-ExtraBold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Light.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Kiona';
    src: url('../fonts/kiona/Kiona-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Kiona';
    src: url('../fonts/kiona/Kiona-Itallic.ttf');
    font-style: italic;
    font-weight: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  -------------- VARIABLES -------------- */

:root{
    --sand: #e3dfd8;
    --matcha: #d2c9c0;
    --linen: rgb(170, 161, 153);
    --sage: #adb3a9;
    --dark-love: #7a8076;
    --light-gray: #f3f3f3;
    --tipo-sans-serif: 'Poppins', sans-serif;
    --font-chronicle: 'Chronicle', sans-serif;
}

/* --------------- ICONS ------------------ */

ion-icon{
    color: white;
    font-size: 30px;
    margin-left: 5px;
}

/*  -------------- GENERALES -------------- */

p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.titulo_chico{
    color: var(--matcha);
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.titulo_chico::before{
    content: '';
    width: 40px;
    height: 3px;
    display: inline-block;
    background-color: var(--matcha);
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.btn{
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px var(--sage) solid;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: var(--sage);
}

.btn:hover{
    cursor: pointer;
}

ul li{
    font-family: var(--tipo-sans-serif);
}

/* --------------- NAV BAR ---------------- */

header{
    position: relative;
}

.menu{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: absolute;
}

.nav_menu a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-family: var(--tipo-sans-serif);
}

.active{
    font-weight: bold;
}

.btn_menu, .btn_check{
    display: none;
}

/* ----------- FOOTER --------------- */

footer{
    background-color: var(--matcha);
}

.footer_options{
    width: 90%;
    display: flex;
    padding: 40px 15px;
    color: white;
    justify-content: space-around;
    margin: auto;
}

.footer_options h3{
    font-family: var(--tipo-sans-serif);
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 15px;
}

.footer_options ul li{
    list-style: none;
    font-weight: bold;    
}

.footer_options ul li a{
    text-decoration: none;
    color: white;
}

/* ------------ DESKTOP 1 ------------- */


#banner_inicio{
    width: 100vw;
    height: 100vh;
    top: 0px;
    position: relative;  
}

#banner_inicio > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#banner_inicio ion-icon{
    background-color: rgba(0,0,0,.2);
    padding: 5px;
    color: rgba(255,255,255,.7);
    border-radius: 50%;
    z-index: 1;
}

#banner_inicio ion-icon:hover,
#banner_inicio ion-icon:focus{
    color: rgba(255,255,255,.9);
    background-color: rgba(0,0,0,.4);
}

#banner_inicio ion-icon:focus{
    outline: 1px solid black;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
    transition-delay: 0ms;
}

#previous{
    left: 1em;
    top: 50%;
    transform: translateY(-50%) ;
    position: absolute;
}

#next_img{
    right: 1em;
    top: 50%;
    transform: translateY(-50%) ;
    position: absolute;
}


.inicio p{
    font-size: 1rem;
}

.texto_inicio{
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    position: relative;
    top: 70%;

}

.texto_inicio h1{
    font-size: 3rem;
}

.btn_inicio{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: var(--sand);
    color: white;
}

.btn_inicio:hover{
    background-color: var(--matcha);
    cursor: pointer;
}

/* ------------ CHOICES ------------- */

.choices{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: .2fr 1fr 1fr;
    grid-template-areas:
    'tittle tittle tittle tittle tittle'
    'photo photo photo img1 img1'
    'img2 img2 wedd wedd wedd';
    gap: 10px;
}

.description{
    font-family: serif;
    margin-bottom: 10px;
    font-size: 3rem;
}

.session h2{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--matcha);
    grid-area: tittle;
}

.choices article .div{
    display: flex;
    flex: nowrap row;
    align-items: center;
}

.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    grid-area: photo;
    width: 60%;
    padding: 20px 0;
}

.photoshoot{
    background-image: url(../img/home/PHOTOSHOOT.JPG);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    grid-area: img1;
}

.wedd{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: end;
    margin:auto;
    grid-area: wedd;
    padding: 20px 0;
}

.wedding{
    background-image: url(../img/home/WEDDING.jpg);
    background-size: cover;
    background-position: top;
    grid-area: img2;
}


/* ----------- REVIEWS --------------- */

.reviews{
    height: auto;
    margin-top: 35px;
    padding: 15px 0;
}

.rev_cont{
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}

.rev_cont h3{
    font-size: 3rem;
    font-weight: lighter;
    padding-top: 20px;

}

.slider_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}   

.slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.slider_body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider_text{
    padding: 10px 20px;
    height: 200px;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin: auto ;
    border-radius: 3px;
}

.slider_text .line {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.slider_text h2{
    display: inline-block;
    font-family: var(--tipo-sans-serif);
    font-size: 18px;
    width: auto;
}
.slider_text .calificacion {
    display:inline-block;
    font-size: 18px;
    width: auto;
}
.slider_text .calificacion .checked{
    color:orange
}

.slider-controllers {
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.slider-controllers p {
    font-size: 16px;
    color: var(--dark-love);
}

.slider_arrow{
    cursor: pointer;
    width: 35px;
    border: 1px solid var(--dark-love);
    border-radius: 50%;
    margin: auto 20px;
    padding: 5px;
    transition: 300ms ease;
}

.slider_arrow:hover{
    background-color: var(--light-gray);
}

/* Formulario de Reviews */

.form-review {
    margin: 50px auto;
}

.form-review h3{
    font-family: var(--font-chronicle);
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;

}

.form-review form {
    font-family: var(--font-chronicle);
    display:flex;
    flex-direction: column;
    width: 600px;
    max-width: 90%;
    margin: 0 auto;
}

.form-review p {
    font-family: var(--font-chronicle);
    margin: 10px 0;
    font-size: 16px;
}
.form-review input[type="text"],
.form-review textarea {
    padding: 15px 10px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
}
.form-review textarea {
    height: 150px;
}

.form-review input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 0;
    border: none;
    color: #fff;
    background-color: #999;
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.form-review input[type="radio"] {
    display: none;
}

.form-review label {
    color: grey;
}

.form-review .clasificacion {
    display: inline-block;
    text-align: left;
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 18px;
}

.form-review label:hover,
.form-review label:hover ~ label {
    color: orange;
}

.form-review input[type="radio"]:checked ~ label {
    color: orange;
}


/* ------------------- DESKTOP 3 ---------------------- */
/* ------------------- PORTFOLIO ---------------------- */

.portfolio_banner{
    width: 100%;
    height: 100vh;
    background: url(../img/portfolio/PHOTOSHOOT.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}

.portfolio_banner p{
    font-size: 1rem;
}

.texto_portfolio{
    position: absolute;
    left: 10%;
    top: 40%;
    color: white;
}

.texto_portfolio h1{
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--tipo-sans-serif);
    line-height: 40px;
    border-bottom: 3px solid white;
    width: fit-content;
    margin-bottom: 25px;
}

.texto_portfolio p{
    font-family:  var(--tipo-ch);
    font-size: 3rem;
    width: 60%;
}

#carousel_portfolio{
    width: auto;
    top: 0;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#carousel_portfolio h3{
    width: 85%;
    margin: auto;
    margin-top: 100px;

    font-weight: 600;
    font-family: var(--font-chronicle);
    font-size: 3em;
}

/* Sliders carousel */
#carousel_portfolio .carousel .carousel_container {
    width: 90%;
    margin:auto;
    position: relative;
}

.arrow-left,
.arrow-right{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
}

.arrow-left {
    left: -50px;
}

.arrow-right{
    right: -50px;
}

.glider {
    overflow: hidden;
}

.glider_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.glider_element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    position: relative;
    text-align: center;
}

.glider_element p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: normal;
    font-family: var(--font-chronicle);
    font-size: 3em;
    width: 500px;
}
/*------------- PRICES -----------------  */
.prices_banner{
    top: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 25%;
}

.prices_banner img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -50px;
    z-index: -100;
}

.prices_banner img::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 100;
}

.cont_prices{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 90%;
    height: 100%;
    margin-left: 2em;
}

.cont_prices h1{
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
}

.cont_prices p{
    color: white;
}

.cont_prices p.comentario{
    margin-bottom: 30px;
}

.cont_prices p::before{
    width: 90px;
    height: 2px;
    background-color: white;
}

.container_cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}



.prices_card{
    font-family: var(--font-chronicle);
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.pack{
    text-align: center;
    padding: 50px 20PX;
    color: white;
}

.prices_card:first-child .pack{
    background:var(--sage);
}
.prices_card:nth-child(2) .pack{
    background:var(--sand);
}
.prices_card:nth-child(3) .pack{
    background:var(--matcha);
}
.prices_card:nth-child(4) .pack{
    background:var(--sage);
}
.prices_card:nth-child(5) .pack{
    background:var(--dark-love);
}



.pack h2{
    font-size: 1rem;
    border-top-left-radius:5px;
}

.pack_content {
    height: 180px;
    background: var(--light-gray);
}

.uno{
    height: 100px;
}

.pack_content ul li{
    list-style: none;
    font-size: 12px;
}

.pack_content ul{
    padding: 15px;
    text-align: center;
}

.price{

    text-align: center;
    padding: 20px 10px;
    background: var(--light-gray);
    border-top: 1.5px solid var(--sand);
}

.price p::before {
    content: '$ ';
    background: transparent;
}
.price p{
    font-family: var(--tipo-chronicle);
    color: #000;
    font-size: 20px;
}

/* ------------ CONTACTO ---------------- */

.contacto{
    font-family: var(--tipo-chronicle);
    width: 100%;
    position: relative;
    height: 100vh;
    background: url(../img/Contact/contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form_contacto{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}

.form_text{
    margin-bottom: 30px;
}

.form_text h2{
    font-size: 2.5rem;
    font-weight: normal;
}

.form_text p{
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 2px;
}

legend{
    font-size: 12px;
    margin-bottom: 5px;
}

.form_contacto input{
    width: 515px;
    margin: 0 0 15px;
    padding: 15px 5px;
    border: none;
    border-radius: 3px;

}

.form_contacto textarea{
    border-radius: 4px;
    border: none;
    resize: none;
    width: 515px;
    height: 150px;
    padding: 5px 5px;
}

.form_contacto input.form_btn{
    background-color:var(--sage);
    width: 515px;
    padding: 20px 0 ;
    margin: 40px 0;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

/* BANNERS PORTFOLIO */

/* ESTELAR */

.portfolio_estelar .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/ESTELAR/estelar1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}
/* PABLO */
.portfolio_pablo .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/Pablo_Mire/mir_pa1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}

/* GIME */
.portfolio_gime .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/GIME/gime1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}

/*  OSO */
.portfolio_oso .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/OSO_ESTHER/os_es1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}
/* wally */
.portfolio_wally .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/Wally/wally1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}

/* wicho */
.portfolio_wicho .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/Wicho_Ray_Mo/luis1.JPG);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}

/* PABLO */
.portfolio_wedding .portfolio_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/Cont_portfolios/WEDDING/wedding1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    top: 0;
    z-index: -100;
    justify-content: center;
}



/*  GENERALES PORTAFOLIOS */
.portfolio_banner .texto_portfolio h1{
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--tipo-sans-serif);
    line-height: 40px;
    letter-spacing: 3px;
    border-bottom: none;
    width: fit-content;
    margin-bottom: 0;
}

.portfolio_banner .texto_portfolio p{
    font-family: var(--font-chronicle);
    font-size: 4rem;
}

.galery {
    width: 80%;
    margin: 50px auto;
}

.galery .group {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    margin: 1em 0;
}

.galery .group img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.8s;
    cursor: pointer;
}

.galery .group.group-1 .img-1 {
    grid-column: 1/4;
    grid-row: 1/3;
}
.galery .group.group-1   .img-2 {
    grid-column: 4/7;
    grid-row: 1/5;
}
.galery .group.group-1   .img-3 {
    grid-column: 1/4;
    grid-row: 3/5;
}

.galery .group.group-2 .img-1 {
    grid-column: 1/4;
    grid-row: 1/5;
}
.galery .group.group-2   .img-2 {
    grid-column: 4/7;
    grid-row: 1/3;
}
.galery .group.group-2   .img-3 {
    grid-column: 4/7;
    grid-row: 3/5;
}

/* Page 404 */


.error-page {
    display: flex;
    flex-direction: column;
    margin: 10% 20%;
}

.error-page img {
    width: 100px;
    margin-bottom: 40px;
}

.error-page h1 {
    font-family: var(--font-chronicle);
    font-size: 75px;
    font-weight: normal;
}

.error-page h2::before{
    content: '';
    width: 40px;
    height: 3px;
    display: inline-block;
    background-color: var(--matcha);
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.error-page h2 {
    font-family: var(--tipo-sans-serif);
    color: var(--matcha);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 25px;
}

.error-page p {
    font-family: var(--font-chronicle);
    font-size: 16px;
    margin: 10px 0;
}


/*  */
/*  */
/* ----------- MEDIA QUERYS --------- */
/*  */
/*  */

/*  */
/* ------------------ AJUSTES GRALES TABLETAS EN ADELANTE  ---------------- */
/*  */
@media only screen and (min-width: 426px){

    .session{
        margin-bottom: 20px;
    }

    .reviews{
        height: 490px;
    }


}

@media only screen and (max-width:1024px){
    .container_cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .prices_banner{
        height: 1000px;
        padding: 50px 0;
    }

}

/*  */
/* ------------------MEDIA TABLETAS ---------------- */
/*  */

@media only screen and (min-width:426px) and (max-width:769px){
    .container_cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 10px 0;
        gap: 10px;
    }

    .prices_banner{
        padding: 0;
        height: 1000px;
    }

    .prices_card{
        margin: 0;
    }

    .cont_prices{
        margin-left: 20px;
    }

}

/*  */
/* ------------------MEDIA DISPOSITIVOS MOVILES ---------------- */
/*  */

@media only screen and (min-width: 326px) and (max-width:800px){
    /*------------------- MENÚ ------------------ */
    .btn_menu{
        display: block;
        cursor: pointer;
        position: fixed;
        right: 30px;
        z-index: 1500;
    }

    .btn_menu ion-icon{
        color: var(--dark-love);
        border: solid 2px var(--linen);
        border-radius: 3px;
        background-color: rgba(170,161,153,.3);
    }

    .nav_menu{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--matcha);
        z-index: 800;
        clip-path: polygon(0 0 , 0 0 , 0 100%, 0% 100%);
        transition: clip-path .7s;
    }

    .btn_check:checked + .nav_menu{
        clip-path:polygon(100% 0 ,0 0, 0 100%, 100% 100%);
    }
    /* ---------------- banner ------------------ */

    .texto_inicio{
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
    }

    .texto_inicio h1{
        font-size: 2rem;
        bottom: 5px;
    }

    #banner_inicio{
        height: 100vh;
    }


    /* ---------------- SECCIÓN CHOICES --------- */
    .choices{
        height: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: .1fr 1fr 1fr;
        grid-template-areas:
        'tittle tittle tittle tittle'
        'photo photo img1 img1'
        'img2 img2 wedd wedd';
        gap: 10px;
        margin-top: 15px;
    }

    .description{
        font-family: serif;
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .wedd{
        width: 90%;
        padding-right: 10px;
    }

    .session{
        margin-bottom: 20px;
        height: 882px;
    }

    .session h2{
        margin: auto;
    }

    .titulo_chico::before{
        width: 15px;
    }

    .session .photo {
        width: 80%;
    }

    .reviews{
        height: 380px;
    }
/* --------- SLIDERS ------------- */
    .slider_container{
        width: 100%;
        margin-top: 20px;
        grid-template-columns: 25px 1fr 25px;
    }

    .slider_text{
        height: fit-content;
        margin: auto;
    }
/* --------------- FOOTER -------------- */
    .footer_options{
        display: grid;
        grid-template-areas: "lista location"
                             "contact media";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 20px 5px;
    }

    .footer_options div{
        padding: 5px;
    }
    
    /* ------------- CONTACTO ------------- */
    .form_contacto{
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 50%;

    }
    .form_text{
        margin-bottom: 30px;
    }
    
    .form_text h2{
        font-size: 2rem;
    }
    
    .form_text p{
        font-weight: 400;
        word-spacing: 2px;
    }
    
    legend{
        font-family: var(--tipo-sans-serif);
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .form_contacto input{
        width: 310px;
        margin: 0 0 15px;
        padding: 15px 0;
        border: none;
        border-radius: 3px;
    }
    
    .form_contacto textarea{
        border-radius: 4px;
        border: none;
        resize: none;
        width: 310px;
        height: 150px;
    }
    
    .form_contacto input.form_btn{
        width: 310px;
    }

    /* ---------- PRICES ------------ */
    .container_cards{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
        margin: 10px 0;
    }
    .prices_banner{
        width: 100%;
        height: 3200px;
        padding: 0;
    }

    .prices_card{
        margin: 15px auto;
        width: 300px;
    }

    .cont_prices{
        margin-left: 1em;
    }

}

/*  ---------------------- TELEFONO EN HORIZONTAL ------------- */

@media only screen and (min-height: 320px) and (max-height:425px){
    .session{
        height: 250vh;
    }

    .reviews{
        height: 400px ;
    }
    .texto_inicio button{
        display: none;
    }
    .texto_inicio{
        top: 50%;
    }

    .texto_portfolio{
        top: 40%;
    }

    .texto_portfolio p{
        font-size: 2rem;
    }

    .texto_portfolio h1{
        margin-bottom: 0;
    }

    .contacto{
        height: 640px;
    }

    .container_cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}


@media only screen and (min-width: 250px){
    /* Sliders carousel */
    #carousel_portfolio .carousel .carousel_container {
        width: 100%;
    }

    .arrow-left {
        left: 0;
        z-index: 1000;
    }

    .arrow-right{
        right: 0;
        z-index: 1000;
    }
}